/* SITE HEADER */

.site-header {
  width: 100%;
  background-color: #f6f6f6;
}

/* SITE HEADER LEFT */
.site-header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-logo-link{
  display: block;
  padding: 13px 6px;
  width: 276px;
  background-color: #fff;
  border-radius: 7px;
  margin-right: 35px;
}
.site-logo-link:hover{
  opacity: 0.8;
}
.site-logo-link:active{
  opacity: 0.6;
}
.site-logo-img{
  display: block;
  width: 264px;
  height: 19px;
}
.currency-block {
  font-family: "Rubik" , Arial , sans-serif;
}
.currency-item {
  font-weight: 400;
  color: #555;
  line-height: 19px;
}
.currency-item:not(:last-child){
  margin-right: 25px;
}
.currency-symbol {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2959CE;
}

/* SITE HEADER RIGHT */
.site-header-right {
  display: flex;
  align-items: center;
}
.search-form-block{
  padding: 0;
  margin-right: 25px;

}
.search-input{
  width: 275px;
  line-height: 45px;
  border: none;
  border-radius: 60px;
  padding-left: 40px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  block-size: contain;
  background-position: top 13px left 15px;
}
.lng-toggle-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 3px;
  margin: 0;
  background-color: #DCE6FF;
  width: 70px;
  border-radius: 39px;
  margin-right: 52px;
}
.lng-toggle-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lng-toggle-link{
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 13px;
  color: #a6a6a6;
}
.lng-active {
  background-color: #fff;
  color: #222;
}
/* NAVIGATION */
.site-nav {
  background-color:#fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.site-nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.site-nav-item:not(:last-child) {
  margin-right: 34px;
}

.site-nav-link {
  text-decoration: none;
  color:#7F7F7F;
}

.site-nav-link:hover{
  color:#7296EC;
}

.site-nav-link:active{
  opacity: 0.6;
}


/* FOOTER */

.site-footer{
  background-color: #7297EF;
  padding-top: 40px;
  color: #fff;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
}

.footer-logo-text-link{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  transition: opacity 0.3s ease;
}

.footer-logo-text-link:hover{
  opacity: 0.8;
}

.footer-logo-text-link:active{
  opacity: 0.6;
}

.footer-nav{
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #CECECE;
  margin-bottom: 20px;
}

.footer-text{
  width: 230px;
  margin-right: 203px;
}

.footer-list{
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
}

.footer-list:not(:last-child){
  margin-right: 100px;
}

.footer-item{
  transition: opacity 0.3s ease;
}

.footer-item:hover{
  opacity: 0.8;
}

.footer-item:active{
  opacity: 0.6;
}

.footer-item:not(:last-child){
  margin-bottom: 20px;
}

.footer-link{
  text-decoration: none;
  color: #fff;
}

.contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contacts-text{
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  width: 161px;
}

.contacts-list{
  list-style-type: none;
  display: flex;
}
.contacts-item{
  transition: opacity 0.3s ease;
}
.contacts-item:hover{
  opacity: 0.8;
}

.contacts-item:active{
  opacity: 0.6;
}

.contacts-item:not(:last-child){
  margin-right: 25px;
}

.contacts-img{
  display: block;
}